@media (min-width: 992px)
    #drone-mobile
        display: none
@media (max-width: 991px)
    .menu
        display: none
    .me
        margin: 0
        flex-direction: row
    #certificatas
        flex-direction: column

    #exp
        margin: 15px
        div
            flex-direction: column
        p
            //display: block
            text-align: center
            //align-items: center
    #eng
        padding: 15vh 0 15vh 0

        font-size: 1.2rem
        background-size: contain
        background-blend-mode: multiply
        background: url(../img/mobile_eng.png) no-repeat
        background-color: rgba(0,0,0,0.7)
        background-position: center center

    #eng_flag
        display: none
    #drone
        display: none