$h_and_f: 600px
$p: 25px

@media (min-width: 992px)
    #drone-mobile
        display: none
    #exp
        div
            a
                transition: 0.4s
                &:hover
                    transform: translateX(10px)
@media (max-width: 991px)


    header
        height: $h_and_f
        display: flex
        justify-content: center

    p
        font-size: 1.1rem


    .menu
        display: none
    .me
        flex-direction: column-reverse
        align-items: center
        text-align: center
        padding: $p

    #name
        align-items: center

    #name1
        font-size: 1rem

    #avatar
        width: 200px
        height: 200px
    #courses
        padding-left: $p
        padding-right: $p
    #certificatas
        flex-direction: column
        p
            text-align: center
    #cert
        width: 150px
        height: 105px


    #exp
        padding-left: $p
        padding-right: $p
        div
            flex-direction: column

            align-items: center
        p
            //display: block
            text-align: center
            //align-items: center
    //.triangle-1
    //    display: none


    #eng
        padding: $p


        font-size: 1.2rem
        div
            flex-direction: column
            align-items: center
            img
                width: 180px
                height: 180px
                padding: 0
    //background-size: 100%
        //background-blend-mode: multiply
        //background: url(../img/mobile_eng.png) no-repeat
        //background-color: rgba(0,0,0,0.7)
        //background-position: center center

    //#eng_flag
    //    display: none
    #drone
        display: none

    #why
        height: $h_and_f
        padding: $p