@import url('https://fonts.googleapis.com/css?family=Jura|Play&subset=cyrillic')

$mainTextClr: #efefef


*, *::before, *::after
    box-sizing: border-box

h2
    font-size: 30px

body
    font-family: 'Jura', sans-serif
    margin: 0

p
    font-size: 1.3rem

header
    height: 100vh
    color: $mainTextClr
    background-blend-mode: multiply
    background: url("../img/oblaka_nebo_gory_les_vid_1920x1173.jpg")
    background-color: rgba(0,0,0,0.4)
    background-size: cover






.me
    padding: 25vh 0 25vh 0
    display: flex
    justify-content: space-around
    align-content: center
    #name
        font-size: 1.5rem
        display: flex
        flex-direction: column
        justify-content: center
        h1
            font-family: 'Play', sans-serif
        a
            color: $mainTextClr
        img
            display: flex
#avatar
    border: 3px solid $mainTextClr
    border-radius: 150px

.menu
    ul
        padding: 20px 150px 20px 150px
        margin: 0
        display: flex
        justify-content: space-around
        list-style: none
    a
        color: $mainTextClr
        text-decoration: none

h2
    text-align: center

#courses
    color: $mainTextClr

    background: #3b5171
    h2
        margin: 0
        padding: 20px 0 20px 0

    #certificatas
        display: flex
        justify-content: space-around

        align-items: center

        padding-bottom: 40px
        div
            display: flex
            justify-content: space-around


#exp
    background-color: #fbfbfb
    h2
        margin: 0
        padding: 20px 0 20px 0
    div
        display: flex
        justify-content: space-around
        flex-direction: row-reverse
        p
            align-self: center

#eng
    background-color: #414e53
    color: $mainTextClr
    font-size: 1.5rem
    img
        padding: 20px
        margin: 20px
    div
        display: flex
        justify-content: space-around
        h3
            align-self: center
            text-align: center

.va
    vertical-align: middle



#why
    height: 100vh
    color: $mainTextClr

    background: url("../img/web-programming.jpg") no-repeat
    background-blend-mode: multiply
    background-color: rgba(0,0,0,0.7)
    background-position: center center
    background-size: cover
    display: flex
    justify-content: center
    h2
        margin: 0
        padding: 20px 0 20px 0
        font-size: 2.5rem
    div
        align-self: center
        padding: 15px
        p
            text-align: center
            display: flex


    p
        padding-bottom: 20px

#drone
    cursor: pointer


